@import url(https://fonts.googleapis.com/css?family=Roboto:300,100&subset=latin,cyrillic);

h1 {
  font-weight: 100;
}

p {
  font-weight: 300;
}

.logo-text a {
  font-weight: 100;
  color: #777;
  position: relative;
}

.logo-text img {
  height: 32px;
  width: 16px;
  position: absolute;
  left: -25px;

}

body {
  overflow-y: scroll;
  font-family: 'Roboto', sans-serif;
}

.welcome {
  position: fixed;
  left: 0;
  background: url("/images/welcome.jpg");
  top: 60px;
  background-position: top 0;
  min-width: 100%;
  min-height: 750px;
  background-repeat: repeat-x;
  & * {
    text-align: center;
    color: #fff;
  }
  *:first-child {
    margin-top: 50px;
  }
}

.greetings {
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  width: 60%;
  max-width: 700px !important;
  min-height: 300px;
  margin: 0px auto;
  p {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.9em;
  }
  h1 {
    text-align: center;
    padding-bottom: 30px;
  }
}

.atSignIn {
  background: transparent url("/images/welcome.jpg") repeat-x scroll 0% 60px;

  .content-wrapper {
    float: none !important;
    min-width: initial !important;
    max-width: initial !important;
    padding-top: 40px;
  }
  .at-form {
    margin: 0 auto;
    width: 60%;
    max-width: 700px !important;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    width: 60%;
    min-height: 300px;
    a {
      text-decoration: underline;
      font-weight: normal;
    }
    a:hover {
      text-decoration: none;
      font-weight: normal;
    }
    .at-title {
      display: none;
    }
    .at-input input {
      background-color: rgba(0, 0, 0, 0.5);
    }
    & *:not(a) {
      text-align: center;
      color: #fff;
      font-weight: normal;
    }
    h3 {
      text-align: left;
    }
    #at-btn {
      margin-left: 90%;
    }
  }
}

.signOut {
  background: transparent url("/images/welcome.jpg") repeat-x scroll 0% 60px;
  .content-wrapper {
    float: none !important;
    min-width: initial !important;
    max-width: initial !important;
    padding-top: 40px;
    .grid-block {
      margin: 0 auto;
      width: 60%;
      max-width: 700px !important;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 3px;
      width: 60%;
      min-height: 100px;
      text-align: center;
      color: #fff;
      font-weight: normal;
    }
  }
}

.thishidden {
  visibility: hidden !important;
}

.inner-wrapper {
  .posts-views-nav {
    display: none;
  }

  .content-wrapper {
    float: right;
    min-width: 900px;
    max-width: 900px;
    .posts-day-heading {
      text-transform: capitalize;
    }
  }
  .notifications-menu {

    .menu-menu {
      left: -60px;
      width: 260px;
    }
  }
  .categories-menu.menu-dropdown {
    .menu-menu {
      width: 250px;

    }
  }
}

.content-wrapper {
  position: relative;
}

.right-ear {
  /* this is an element on the right of the screen, that contains information, opposite to you profile's spec */
  position: absolute;
  right: -270px;
  top: 33px;
  width: 250px;
  min-height: 300px;
  background: #ffffff;
}

.left-ear {
  /* this is an element on the left of the screen, that contains information, directed to you profile's spec */
  position: absolute;
  border-radius: 5px;
  left: -350px;
  top: 33px;
  width: 350px;
  min-height: 400px;
  background: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  padding: 10px 20px 10px 20px;
}

.left-ear h4 {
  padding-bottom: 10px;
}

.left-ear a {
  text-decoration: underline;
  font-weight: 400;
}

.categories-menu.menu-dropdown {
  .menu-item {
    .menu-child-items {
      display: none;
    }
    &:hover {
      .menu-child-items {
        display: block;
      }
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding: 0 !important;
}


