body {
  overflow-y: scroll;
}

.welcome {
  position: fixed;
  left: 0;
  background: url("/images/welcome.jpg");
  top: 60px;
  background-position-y: 0;
  min-width: 100%;
  min-height: 750px;
  background-repeat: repeat-x;
}
.thishidden {
  visibility: hidden !important;
}

.inner-wrapper {
  .posts-views-nav {
    display: none;
  }

  .content-wrapper {
    float: right;
    min-width: 900px;
    max-width: 900px;
    .posts-day-heading {
      text-transform: capitalize;
    }
  }
  .notifications-menu {

    .menu-menu {
      left: -60px;
      width: 260px;
    }
  }
  .categories-menu.menu-dropdown {
    .menu-menu {
      width: 250px;

    }
  }
}

.content-wrapper {
  position: relative;
}

.right-ear {
  /* this is an element on the right of the screen, that contains information, opposite to you profile's spec */
  position: absolute;
  right: -270px;
  top: 33px;
  width: 250px;
  min-height: 300px;
  background: #ffffff;
}

.left-ear {
  /* this is an element on the left of the screen, that contains information, directed to you profile's spec */
  position: absolute;
  border-radius: 5px;
  left: -350px;
  top: 33px;
  width: 350px;
  min-height: 400px;
  background: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  padding: 10px 20px 10px 20px;
}

.left-ear h4 {
  padding-bottom: 10px;
}

.left-ear a {
  text-decoration: underline;
  font-weight: 400;
}

.categories-menu.menu-dropdown {
  .menu-item {
    .menu-child-items {
      display: none;
    }
    &:hover {
      .menu-child-items {
        display: block;
      }
    }
  }
}
